 html {
  scroll-behavior: smooth;
 }

body {
    color: white;
    display: flex;
    flex-direction: column;
    font-family: 'ubuntu';
    background-image: url("./images/background-image.png");
    background-size: 20%;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

html {
    font-size: 45%;
}

.about-me-images {
    display: flex;
    flex-wrap: wrap;
    width: 60vw;
    justify-content: space-between;
    margin-top: 70px;
}

.about-me-images img {
    max-width: 25rem;
    height: 25rem
}

@media (max-width: 1500px) {
    html {
        font-size: 42.5%;
    }
    .about-me-images img {
        width: 12rem;
        height: 11rem;
    }
}

@media (max-width: 1200px) {
    html {
        font-size: 40%;
    }
    .about-me-images img {
        width: 11rem;
        height: 10rem;
    }
}

@media (max-width: 1000px) {
    html {
        font-size: 37.5%;
    }
    .about-me-images img {
        width: 10rem;
        height: 9rem;
    }
}

@media (max-width: 770px) {
    html {
        font-size: 35%;
    }
    .about-me-images img {
        width: 9rem;
        height: 8rem;
    }
}
@media (max-width: 615px) {
    html {
        font-size: 28%;
    }
    .about-me-images img {
        width: 18rem;
        height: 17rem;
    }
}

@media (max-width: 350px) {
    html {
        font-size: 25%;
    }
    .about-me-images img {
        width: 12rem;
        height: 11rem;
    }
}

@media (max-width: 300px) {
    html {
        font-size: 20%;
    }
    .about-me-images img {
        width: 12rem;
        height: 11rem;
    }
}

@media (max-width: 250px) {
    html {
        font-size: 15%;
    }
    .about-me-images img {
        width: 12rem;
        height: 11rem;
    }
}

/* INTRO */

.intro {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 90vh;
    text-wrap: none;
    flex-shrink: 0;
    white-space: nowrap;
}

.intro h1 {
    font-weight: 10;
    font-size: 6rem;
    margin: 0;
}

.intro h2 {
    font-weight: 10;
    font-size: 6rem;
    margin: 0.4em;
}

#intro-line {
    background-color: white;
    height: 0.1%;
    width: 75rem;
}

#msc {
    color: #fcbdbd;
    font-style: italic;
    margin: 0.4em;
}

#github-logo {
    max-height: 7em;
}

.intro-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

#arrow {
    max-height: 7em;
}

@keyframes slideInFromTop{
    0% {
        transform: translateY(-10%);
    }
    100% {
        transform: translateY(0);
    }
}

.intro {
    animation: 1.5s ease-out 0s 1 slideInFromTop;
}

/* HEADER */

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: #181224;
    box-shadow: rgba(0, 0, 0, 0.712) 0px 8px 24px;
    position: sticky;
    top: 0;
    margin:0;
    height: 8rem;
    z-index: 9999999;
}

.header-individual {
    display: flex;
    flex-direction: row;
    font-size: 3rem;
    gap: 3rem;
    margin-right: 4rem;
}

.header-individual a:hover {
    color: #fcbdbd;
}

/* ABOUT ME */

.about-me {
    background-image: url("./images/background-image-2.png");
    background-size: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #fcbdbd;
}

.about-me-main {
    margin-right: 2rem;
    margin-left: 2rem;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 21rem;
    flex-wrap: wrap;
}

.about-me-portrait {
    align-content: center;
}

#portrait {
    max-height: 30em;
}

.about-me-text {
    display: flex;
    flex-direction: column;
    width: 60rem;
    font-size: 3rem;
}

.about-me-text div {
    z-index: 0;
    height: 2rem;
    width: 22.5rem;
    background-color: #ff6868;
    margin-left: 6rem;
    margin-top: -2.5rem;
}

.about-me-text h1 {
    z-index: 1;
    color: white;
    font-size: 6rem;
    font-weight: 400;
    margin: 0;
}

.about-me-text p {
    color: white;
    font-size: 3rem;
    font-weight: 250;
}

/* PROJECTS */

.projects {
    background-image: url("./images/background-image-2.png");
    background-size: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.projects-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.projects-header h1 {
    z-index: 1;
    font-weight: 400;
    font-size: 6rem;
    margin: 0;
}

.underscore-2 {
    z-index: 0;
    height: 2rem;
    width: 19rem;
    background-color: #ff6868;
    margin-left: 9rem;
    margin-top: -2.2rem;
}

/* FOOTER */

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5rem;
    background-color: #181224;
    box-shadow: rgba(0, 0, 0, 0.712) 0px 8px 24px;
    font-size: 1.5rem;
}

/* :HOVERS */

img:hover {
    transform: scale(105%);
}

img {
    transition: 0.3s;
}