 html {
  scroll-behavior: smooth;
 }

body {
    color: white;
    display: flex;
    flex-direction: column;
    font-family: 'ubuntu';
    background-image: url("./images/background-image.png")
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

/* INTRO */

.intro {
    outline: 2px solid red;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
    text-wrap: none;
    flex-shrink: 0;
}

.intro h1 {
    font-weight: 10;
    font-size: 5vw;
    margin: 0em;
}

.intro h2 {
    font-weight: 10;
    font-size: 5vw;
    margin: 0.4em;
}

#msc {
    color: #fcbdbd;
    font-style: italic;
    margin: 0.4em;
}

#intro-line {
    background-color: white;
    width: 62vw;
    height: 0.2em;
    margin: 0.4em;
}

#github-logo {
    max-height: 7em;
}

.intro-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

#arrow {
    max-height: 5vh;
    width: auto;
}

@media (max-width: 800px) {
    .intro h1 {
        font-size: 9vw;
    }
    .intro h2 {
        font-size: 7vw;
    }
    #intro-line {
        width: 86vw;
        height: 0.05em;
    }
    #github-logo {
        max-height: 2.5em;
    }
    #arrow {
        max-height: 2.5em;
    }
}

