 html {
  scroll-behavior: smooth;
 }

body {
    color: white;
    display: flex;
    flex-direction: column;
    font-family: 'ubuntu';
    background-image: url("./images/background-image.png");
    background-size: 20%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

html {
    font-size: 45%;
}

@media (max-width: 1500px) {
    html {
        font-size: 40%;
    }
}

@media (max-width: 1200px) {
    html {
        font-size: 35%;
    }
}

@media (max-width: 770px) {
    html {
        font-size: 30%;
    }
}
@media (max-width: 615px) {
    html {
        font-size: 28%;
    }
}

@media (max-width: 350px) {
    html {
        font-size: 25%;
    }
}

/* INTRO */

.intro {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 90vh;
    text-wrap: none;
    flex-shrink: 0;
    white-space: nowrap;
}

.intro h1 {
    font-weight: 10;
    font-size: 6rem;
    margin: 0;
}

.intro h2 {
    font-weight: 10;
    font-size: 6rem;
    margin: 0.4em;
}

#intro-line {
    background-color: white;
    height: 0.1%;
    width: 75rem;
}

#msc {
    color: #fcbdbd;
    font-style: italic;
    margin: 0.4em;
}

#github-logo {
    max-height: 7em;
}

.intro-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

#arrow {
    max-height: 7em;
}

/* HEADER */

.header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.header-individual {
    display: flex;
    flex-direction: row;
}

.header-individual h4 { /* Header text */
    font-size: 2.5vw;
}